*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header{
    background-color: rgba(43, 40, 91);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1rem 2rem; /* 1rem = 16px */
    width: 100%;

    /* position: fixed; */

    position: sticky;
    top: 0;
    z-index: 1;
}

.padre{
    margin: 1rem;
    border: 3px solid #494949;
    background-color: rgb(230, 230, 230);
    padding: 1rem;
    position: relative;
}

.hijo{
    border: 2px solid green;
    background-color: lightgreen;
    padding: 1rem;
}

.hijo-1{
    background-color: crimson;
    border: 2px solid rgb(252, 127, 152);
    position: absolute;
    right: 20px;
    top: 30px;
}

.whatsapp-logo{
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 50px;
}

.whatsapp-logo:hover{
    cursor: pointer;
    transform: scale(1.5);
    transition: all .3s ease-in-out;
}