*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-title{

    text-align: center;
    color: yellow;
    line-height: 1;
    margin: 20px;
    padding: 10px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px 0 20px 0;
}

body {
    background-color: #07edf5;
    color: #d1d5db;
}