*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: sans-serif;
}

.section-responsive{
    background-color: crimson;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}

/*! MEDIAS QUERIES */

@media screen and (width < 500px){
    .section-responsive{
        background-color: darkseagreen;
        color: white;
    }

}

@media screen and (width > 1000px){
    .section-responsive{
        background-color: royalblue;
        display: flex;
        /* flex-direction: row; */
    }

}